* {
	font-family: "Sintony", sans-serif, serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: black;
}

.header {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

.header img {
	width: 100%;
	height: 110%;
}

.center {
	text-align:center;
}

.container {
	min-height: 100%;
	width: 100%;
	height: auto;
	margin: auto;
}

/* Layla - Center Text */
.layla {
	position: absolute;
	top: 0;
	left: 40%;
	width: 20em;
	margin: 17% auto;
	color: white;
}

.layla h1, h2, h3, h4, h5, h6 {
	text-align: center;
	letter-spacing: 3px;
	font-family: "Lobster", "Sintony", sans-serif, serif;
}

.layla h1 {
	font-size: 3em;
	text-shadow: 1px 0 50px #000000;
}

.layla p {
	text-shadow: 1px 1px 5px #000000;
}

/* Menu */

.menu {
	z-index: 100;
	display: inline;
	position: absolute;
	top: 92%;
	width: 100%;
	height: 8%;
	margin: 0;
	padding: 0;
	background-color: #34495e;
	overflow: hidden;
}

.menu a {
	border-bottom: 0;
	text-decoration: none;
}

.menu ul {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline;
	list-style: none;
}


/* Navigation */

/*.menu .navigation {
	position: relative;
}*/

.menu .navigation {
	left: 0;
	margin: 1em 4.5em;
}

.menu .navigation li {
	padding: 100% 2em;
}

.menu .navigation li:hover {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: red;
}

.menu .navigation li:nth-child(2):hover {
	background-color: #e74c3c;
}

.menu .navigation li:nth-child(3):hover {
	background-color: #2ecc71;
}

.menu .social-buttons li {
	width: 100px;
	height: 100px;
	border-radius: 5%;
	padding: 0;
	background-color: #4862a3;
}

.menu .social-buttons li img {
	width: 25px;
	height: 25px;
	margin: auto;
}

/* Bottom */


/* Sticky Menu */
/*.sticky {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	position: absolute;
	bottom: 92%;
}*/

/* Pages || Content */
.content {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	padding: 1em 4.5em;
	margin: 0;
}

/* Music */
#music {
	background-color: #e74c3c;
}

/* Gigs */
#gigs {
	background-color: #2ecc71;
	top: 200%;
}

/* Footer */
footer {
	position: absolute;
	top: 300%;
	width: 100%;
	height: 8%;
	background-color: #34495e;
	overflow: hidden;
	color: white;
}

footer p {
	font-size: 0.8em;
	text-align: center;
	margin: 1% auto;
}

table {

}

tr {
	background-color: white;
	border-radius: 5px;
}

tr:nth-child(2n+2) {
	background-color: #e5e5e5;
}


td {
	margin: 0.2em 0.3em;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}